<template>
  <div>
    <form @submit.prevent="addSlot">
      <input type="text" v-model="title" name="title" placeholder="Add Slot...">
      <input type="submit" value="Submit" class="btn">
    </form>
  </div>
</template>

<script>
// import uuid from 'uuid';
export default {
  name: "AddSlot",
  data() {
    return {
      title: ''
    }
  },
  methods: {
    addSlot() {
      const newSlot = {
        title: this.title,
        completed: false
      }
      // Send up to parent
      this.$emit('add-slot', newSlot);

      this.title = '';
    }
  }
}
</script>

<style scoped>
  form {
    display: flex;
  }

  input[type="text"] {
    flex: 10;
    padding: 5px;
  }

  input[type="submit"] {
    flex: 2;
  }
</style>


