<template>
  
    <tr class="slot-item">
      <!-- <input type="checkbox" v-on:change="markComplete" v-bind:checked="todo.completed"> // check box not required -->
      <td>{{slot.Slot_Id}}</td>
      <td>{{slot.Day}}</td>
      <td>{{slot.Duration}}</td>
      <td>{{slot.Start_Time}}</td>
      <td>{{slot.End_Time}}</td>
      <td>{{slot.Subject}}</td>
      <td>{{slot.Topic}}</td>

      <!-- <button @click="$emit('del-todo', todo.id)" class="del">x</button> // delete button not required -->
      </tr>
</template>

<script>
export default {
  name: "SlotItem",
  props: ["slot"],
  methods: {
    // markComplete() {
    //   this.todo.completed = !this.todo.completed;
    // }
  }
}
</script>

<style scoped>
  .slot-item {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
  }

  .is-complete {
    text-decoration: line-through;
  }

  .del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
  }
</style>

