<template>
  <div>
    <table style="width:100%">
      <tr>
        <th>Day</th>
        <th>Duration</th>
        <th>End Time </th>
        <th>Free Time</th>
        <th>Start Time</th>
        <th>Subject</th>
        <th>Topic</th>
        </tr>
    <tr v-bind:key="slot.id" v-for="slot in slots">
      <!-- {{slot}} -->
      <!-- <SlotItem v-bind:slot="slot"  /> -->
      <td>{{slot.Slot_Id}}</td>
      <td>{{slot.Day}}</td>
      <td>{{slot.Duration}}</td>
      <td>{{slot.Start_Time}}</td>
      <td>{{slot.End_Time}}</td>
      <td>{{slot.Subject}}</td>
      <td>{{slot.Topic}}</td>

    </tr>

    </table>
    
  </div>
</template>

<script>
// import SlotItem from './SlotItem.vue';

export default {
  name: "Slots",
  components: {
    // SlotItem
  },
  props: ["slots"]
}
</script>

<style scoped>

</style>

