<template>
  <div id="app">
    <Slots v-bind:slots="slots"/>
  </div>
</template>

<script>
import Slots from '../components/Slots';
// import AddSlot from '../components/AddSlot';
import axios from 'axios';

export default {
  name: 'Home',
  components: {
    Slots,
    // AddSlot
  },
  data() {
    return {
      slots: []
    }
  },
  methods: {
    // deleteSlot(id) {
    //   axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
    //     .then(res => this.todos = this.todos.filter(todo => todo.id !== id))
    //     .catch(err => console.log(err));
    // },
    // addTodo(newTodo) {
    //   const { title, completed } = newTodo;

    //   axios.post('https://jsonplaceholder.typicode.com/todos', {
    //     title,
    //     completed
    //   })
    //     .then(res => this.todos = [...this.todos, res.data])
    //     .catch(err => console.log(err));
    // }
  },
  created() {
    axios.get('http://localhost:5000/slots')
      .then(res =>{
        this.slots = res.data.data;
      })
      .catch(err => {
        // eslint-disable-next-line
        console.log(err);
        });
  }
}
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background: #666;
  }
</style>
